

<h1>Mostrando todas las Peliculas</h1>

<% @movies.each do |m| %>
    <h2><%= m.name %></h2>
    <p><%= m.synopsis %></p>
    <p><%= m.director %></p>
<% end%>

<%= link_to "Agregar nueva Movie", movies_new_path %>